<h1>Listing content_items</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_items.each do |content_item| %>
  <tr>
    <td><%= link_to 'Show', content_item %></td>
    <td><%= link_to 'Edit', edit_content_item_path(content_item) %></td>
    <td><%= link_to 'Destroy', content_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content item', new_content_item_path %>
